p {
    font-family: 'Montserrat';
    color: white;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

img {
    height: 2em;
    display: inline-block;
    vertical-align: middle;
}

.bar {
    background: white;
    border-radius: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: black;
}